[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FuzzySpec"]
	path = FuzzySpec
	url = https://github.com/ghashti-j/fuzzyspec
[submodule "bootkmeans"]
	path = bootkmeans
	url = https://github.com/ghashti-j/bootkmeans
